//-
	* Nombre proyecto:
	* Fecha inicio:
	* Email desarrollador:
	* Descripción:
	* Dependencias:
	* Dónde se utiliza/requiere:

header#header.position-fixed.bg-grey-dark
	.container-fluid
		.row-pd
			.col.-sm-2.logo
				a(href='index.html')
					img(src=siteImg + 'logo-i2b.png' width='216' height='58' alt='Components')
				//- span Components
