//-
	* Nombre proyecto:
	* Fecha inicio:
	* Email desarrollador:
	* Descripción:
	* Dependencias:
	* Dónde se utiliza/requiere:

header#header.fixed-top.bg-gray-900
	.container-fluid
		.row
			.col.logo(class="sm:col-3")
				a(href='index.html' class="d-block fz-0")
					img(src=siteImg + 'logo-i2b.png' width='216' height='58' alt='Components')
				//- span Components
