//-
//- Mixins
//-

//- Just for debugging
@mixin out($color: red) {
	outline:1px solid $color;
}

@mixin escondetxt($where:-9999px) {
	text-indent: $where;
	overflow: hidden;
}

@mixin zero() {
	margin: 0;
	padding: 0;
}

@mixin gradient-vertical($startColor: #1e5799, $endColor: #7db9e8) {
	background: $endColor;
	background: linear-gradient(to bottom,  $startColor 0%,$endColor 100%);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', EndColorStr='#{$endColor}', GradientType=0)";
}

@mixin gradient-horizontal($startColor: #1e5799, $endColor: #7db9e8) {
	background: $endColor;
	background: linear-gradient(to right, $startColor, $endColor);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', EndColorStr='#{$endColor}', GradientType=1)";
}

@mixin opacity($opacity:0.5) {
	opacity: $opacity;
	$opperc: $opacity * 100;
	-ms-filter: #{"progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})"};
	filter: #{"alpha(opacity=${opperc})"};
}

//- Centrar Bloque
@mixin block-center() {
	margin-left: auto;
	margin-right: auto;
}

//- Limpiar Bloque
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

//- Box sizing
@mixin box-sizing($boxmodel: border-box) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

//- Rotate mirror
@mixin rotate-mirror() {
	-moz-transform: scaleX(-1);    //- Gecko
	-o-transform: scaleX(-1);      //- Opera
	-webkit-transform: scaleX(-1); //- Webkit
	transform: scaleX(-1);         //- Standard
	filter: FlipH;
}

@mixin rotate($deg) {
	-ms-transform: rotate(#{$deg}); //- IE 9
	-webkit-transform: rotate(#{$deg}); //- Chrome, Safari, Opera
	transform: rotate(#{$deg});
}

//- Input Text Customs
@mixin input-text($params) {
	//- $params: ($params['font-family'] ? $params['font-family'] : null);
	//- $font-family, $font-size, $font-color, $input-bg, $input-border, $input-border-error

	display: inline-block;
	height: 42px;
	padding: 0 15px;
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
	line-height: 1;
	background: $input-bg;
	border: 1px solid $input-text-border;
	outline: none;
	&.error {
		border-color: $input-text-border-error;
	}
}

@mixin trans($val) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}


@mixin placeholder($color: #FFF) {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}
}
