$colors: map-get($theme, 'colors');
$bc-link-color: map-get($colors, 'default');
$bc-txt-size: 13px;
$bc-link-color-active: map-get($colors, 'muted');
$bc-padding: 5px;

.breadcrumb {
  padding: 0;
  list-style: none;
	font-size: 0;

  a {
    color: $bc-link-color;
		text-decoration: none;

    &:hover {
      color: darken($bc-link-color, 15%);
    }
	}

  &__item {
    display: inline-block;
    font-size: $bc-txt-size;
		color: $bc-link-color-active;

    + .breadcrumb__item:before {
      display: inline-block;
      padding-right: $bc-padding;
      padding-left: $bc-padding;
      color: $bc-link-color-active;
      content: "/";
    }
    // &.active {
    //   color: $bc-link-color-active;
    // }
  }
}
