//-
//- Buttons
//-
.btn,
.btn-link {
  border: none;
  display: inline-block;
  padding: 8px 15px;
  font-size: 13px;
  color: inherit;
  text-decoration: none;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	transition: all .5s ease;

  &:hover {
    opacity: .7;
    background-color: #CCC;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: .3;
    & * {
      pointer-events: none
		}

    &:hover,
    &:hover {
      box-shadow: none
    }
  }

  &.-sm  { font-size: 11px; }
  &.-md  { font-size: 15px; }
  &.-lg  { font-size: 18px; }
  &.-xlg { font-size: 22px; }
}

.btn-link {
	padding: 0;

  &:hover {
    opacity: .7;
    background-color: transparent;
	}

  &.disabled,
  &:disabled {
    opacity: .3;
  }
}

.-close {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-close {
  padding: 5px;
  font-size: 21px;
  font-weight: 700;
  line-height: .7;
  color: #000;
  border: none;
  background: none;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
