$btn-colors: map-get($theme, 'colors');
$btn-color-default: map-get($btn-colors, 'default');

$buttons: map-get($components, 'buttons');

$links: map-get($components, 'link');
$link-color: map-get($links, 'link-color');
$hover-color: map-get($links, 'hover-color');
$active-color: map-get($links, 'active-color');
$visited-color: map-get($links, 'visited-color');
$disabled-color: map-get($links, 'disabled-color');

.btn,
.btn-link {
	border: none;
	display: inline-block;
	padding: 8px 15px;
	font-size: 13px;
	color: inherit;
	text-decoration: none;
	outline: 0;
	vertical-align: middle;
	overflow: hidden;
	background-color: inherit;
	cursor: pointer;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all .5s ease;

	&.btn--disabled,
	&:disabled {
		cursor: not-allowed;

		& * {
			pointer-events: none
		}

		&:hover,
		&:hover {
			box-shadow: none
		}
	}

	&--sm {
		font-size: 11px;
	}

	&--md {
		font-size: 15px;
	}

	&--lg {
		font-size: 18px;
	}

	&--xlg {
		font-size: 22px;
	}
}

.btn {
	color: $btn-color-default;

	i {
		vertical-align: middle;
	}

	&.txt-hover span {
		display: none;
	}

	&.txt-hover:hover span {
		display: inline-block;
	}
}

.btn-link {
	padding: 0;
	color: $link-color;

	i {
		vertical-align: middle;
	}

	&:hover {
		color: $hover-color !important;
	}

	&:active {
		color: $active-color !important;
	}

	&.link--disabled,
	&:disabled {
		color: $disabled-color !important;
	}
}

@each $attr, $value in $buttons {
	$buttonAll: map-get($buttons, #{$attr});
	$color: '';
	.btn-#{$attr} {
		@each $property, $valueProperty in $buttonAll {
			@if $property == 'background-hover' {
				&:hover {
					background: #{$valueProperty} !important;
				}
			} @else if $property == 'background-disabled' {
				&:disabled,
				&[disabled] {
					background: #{$valueProperty} !important;
				}
			} @else if $property == 'text-color-disabled' {
				&:disabled,
				&[disabled] {
					color: #{$valueProperty} !important;
				}
			} @else if $property == 'border-color-disabled' {
				&:disabled,
				&[disabled] {
					border-color: #{$valueProperty} !important;
				}
			} @else if $property == 'color-hover' {
				&:hover {
					color: #{$valueProperty} !important;
				}
			} @else {
				#{$property} : #{$valueProperty};
			}
			@if $property == 'color' {
				$color: #{$valueProperty};
			}
		}

		&:visited {
			color: #{$color};
		}
	}
}

.btn-close {
  padding: 5px;
  font-size: 21px;
  font-weight: 700;
  line-height: .7;
  color: #000;
  border: none;
  background: none;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  text-decoration: none;
  cursor: pointer;
	outline: none;

	&--right {
		position: absolute;
		top: 0;
		right: 0;
	}
}
