/*----- Accordion -----*/
.collapse {
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
	border-radius: 3px;
	background: #F7F7F7;

	// Titles
	.title {
		width: 100%;
		padding: 15px;
		display: inline-block;
		border-top: 1px solid #1A1A1A;
		background: #333;
		font-size: 15px;
		text-shadow: 0 1px 0 #1A1A1A;
		color: $color-white;
		text-decoration: none;
		cursor: pointer;
		transition: all linear .15s;

		&:after {
			display: inline-block;
			float: right;
			content: "";
			margin-top: 3px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $color-white;
		}

		&.active:after {
			border-top: none;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $color-white;
		}

		&.active,
		&:hover {
			background: #4C4C4C;
			text-decoration: none;
		}
	}

	// Content
	.content {
		padding: 15px;
		display: none;

		&.active {
			display: block;
		}
	}

	.item {
		&:first-child .title {
			border-top: none;
		}
	}
}
