.input,
.textarea,
.select {
  height: 35px;
  padding: 8px 10px;
  font-size: 15px;
  line-height: 1;
  color: $color-grey-dark;
  border: none;
  border: 1px solid $color-grey;
  background: none;
  outline: none;
  // border-radius: 3px;
  &.error {
    border-color: $color-red;
  }
  &.-xs {
    height: 25px;
    padding: 5px 10px;
    font-size: 13px;
  }
  &.-sm {
    height: 30px;
    padding: 8px 10px;
    font-size: 16px;
  }
  &.-md {
    height: 40px;
    padding: 10px;
    font-size: 18px;
  }
  &.-lg {
    height: 50px;
    padding: 12px 10px;
    font-size: 20px;
  }
}

/**
 * Checkbox y Radio
 */
.checkbox,
.radio,
.checkbox + label,
.radio + label {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox,
.radio {
  position: absolute;
  opacity: 0;
  + label {
    position: relative;
    &:before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      padding: 2px;
      content: '';
      background: $color-white;
      border: 1px solid $color-grey;
      vertical-align: middle;
      text-align: center;
      outline: none;
    }
  }
  &.error {
    + label {
      &:before {
        border-color: $color-red;
      }
    }
  }
}

.checkbox {
  &:checked {
    + label:before {
      background: $color-red;
      box-shadow: inset 0px 0px 0px 3px $color-white;
    }
  }
}

.radio {
  + label:before {
    border-radius: 50%;
  }
  &:checked {
    + label:before {
      background: $color-red;
      box-shadow: inset 0px 0px 0px 3px $color-white;
    }
  }
}

/**
 * Select
 */
.select {
  position: relative;
  display: block;
  padding: 0 30px 0 0;
  overflow: hidden;
  cursor: pointer;
  &:after {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 7px;
    width: 0;
    height: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $color-black;
		transform: translateY(-50%);
		z-index: 0;
  }
  option {
    color: $color-black;
  }
  select {
  	position: absolute;
    padding: 8px 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
		cursor: pointer;
		z-index: 1;
    &:focus {
      outline: none;
    }
  }
  option[value=""][disabled],
  option[value="null"][disabled],
  option[value="undefined"][disabled] {
    display: none;
  }
}

/**
 * Select Custom
 */
.cselect {
  position: relative;
  display: block;
  height: 35px;
  font-size: 15px;
  color: $color-grey-dark;
  cursor: pointer;
  select {
    display: none;
    padding-right: 10px;
    visibility: hidden;
    &.error {
      + .csel-cont {
        border-color: $color-red;
      }
    }
  }
}

.csel-cont {
  background: none;
  padding: 8px 35px 8px 15px;
  transition: all 0.2s ease-in;
  border: 1px solid $color-grey;
  user-select: none;
  &:after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $color-black;
    transform: translateY(-50%);
  }
  &:active,
  &.active {
    &:after {
      border-top: none;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $color-black;
    }
  }
}

.csel-options {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  left: 0;
  height: 230px;
  margin: 0;
  padding: 0;
  z-index: 99;
  list-style: none;
  border: 1px solid $color-grey;
  border-top: none;
  background-color: $color-white;
  overflow-y: auto;
  li {
    margin: 0;
    padding: 10px 0;
    text-indent: 15px;
    transition: all 0.15s ease-in;
    &:hover {
      color: $color-white;
      background-color: $color-red;
    }
    &[disabled] {
      display: none;
    }
  }
}

/**
 * Error
 */
.textarea {
  height: auto;
}

/**
 * Error
 */
label {
  &.error {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: $color-red;
  }
}

/**
 * Placeholder Form
 */
form {
  @include placeholder(darken($color-white, 30%));
}
