$form: map-get($components, 'form');
$input: map-get($form, 'input');
$radio: map-get($form, 'radio');
$checkbox: map-get($form, 'checkbox');
$select: map-get($form, 'select');

$input-color: map-get($input, 'color');
$input-border-color: map-get($input, 'border-color');
$input-border-color-error: map-get($input, 'border-color-danger');
$input-background: map-get($input, 'background');
$input-shadow-color: #FFF;
$input-placeholder-color: map-get($input, 'placeholder-color');

$radio-background: map-get($radio, 'background');
$checkbox-background: map-get($checkbox, 'background');

$select-background: map-get($select, 'background');
$select-border-color: map-get($select, 'border-color');
$select-arrow-color: map-get($select, 'arrow-color');
$select-border-color-error: map-get($select, 'border-color-error');
$select-option-background: map-get($select, 'option-background');
$select-option-background-hover: map-get($select, 'option-hover-background');
$select-option-hover-color: map-get($select, 'option-hover-color');

$label-color-error:  map-get($input, 'color-danger');

.input,
.textarea,
.select {
  height: 35px;
  padding: 8px 10px;
  font-size: 15px;
  line-height: 1;
  color: $input-color;
  border: none;
  border: 1px solid $input-border-color;
  background: none;
  outline: none;
  // border-radius: 3px;
  &.error {
    border-color: $input-border-color-error;
  }
  &--xs {
    height: 25px;
    padding: 5px 10px;
    font-size: 13px;
  }
  &--sm {
    height: 30px;
    padding: 8px 10px;
    font-size: 16px;
  }
  &--md {
    height: 40px;
    padding: 10px;
    font-size: 18px;
  }
  &--lg {
    height: 50px;
    padding: 12px 10px;
    font-size: 20px;
  }
}

/**
 * Checkbox y Radio
 */
.checkbox,
.radio,
.checkbox + label,
.radio + label {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox,
.radio {
  position: absolute;
  opacity: 0;
  + label {
    position: relative;
    &:before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      padding: 2px;
      content: '';
      background: $input-background;
      border: 1px solid $input-border-color;
      vertical-align: middle;
      text-align: center;
      outline: none;
    }
  }
  &.error {
    + label {
      &:before {
        border-color: $input-border-color-error;
      }
    }
  }
}

.checkbox {
  &:checked {
    + label:before {
      background: $radio-background;
      box-shadow: inset 0px 0px 0px 3px $input-shadow-color;
    }
  }
}

.radio {
  + label:before {
    border-radius: 50%;
  }
  &:checked {
    + label:before {
      background: $checkbox-background;
      box-shadow: inset 0px 0px 0px 3px $input-shadow-color;
    }
  }
}

/**
 * Select
 */
.select {
  position: relative;
  display: block;
  padding: 0 30px 0 0;
  overflow: hidden;
  cursor: pointer;
  &:after {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 7px;
    width: 0;
    height: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $input-border-color;
		transform: translateY(-50%);
		z-index: 0;
  }
  option {
    color: $input-color;
  }
  select {
		position: absolute;
    padding: 8px 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
		cursor: pointer;
		z-index: 1;
    &:focus {
      outline: none;
    }
  }
  option[value=""][disabled],
  option[value="null"][disabled],
  option[value="undefined"][disabled] {
    display: none;
  }
}

/**
 * Select Custom
 */
.cselect {
  position: relative;
  display: block;
  height: 35px;
  font-size: 15px;
  color: $select-border-color;
  cursor: pointer;
  select {
    display: none;
    padding-right: 10px;
    visibility: hidden;
    &.error {
      + .csel-cont {
        border-color: $select-border-color-error;
      }
    }
  }
}

.csel-cont {
  background: none;
  padding: 8px 35px 8px 15px;
  transition: all 0.2s ease-in;
  border: 1px solid $select-border-color;
  user-select: none;
  &:after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $select-arrow-color;
    transform: translateY(-50%);
  }
  &:active,
  &.active {
    &:after {
      border-top: none;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $select-arrow-color;
    }
  }
}

.csel-options {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  left: 0;
  height: 230px;
  margin: 0;
  padding: 0;
  z-index: 99;
  list-style: none;
  border: 1px solid $input-border-color;
  border-top: none;
  background-color: $select-option-background;
  overflow-y: auto;
  li {
    margin: 0;
    padding: 10px 0;
    text-indent: 15px;
    transition: all 0.15s ease-in;
    &:hover {
      color: $select-option-hover-color;
      background-color: $select-option-background-hover;
    }
    &[disabled] {
      display: none;
    }
  }
}

/**
 * Error
 */
.textarea {
  height: auto;
}

/**
 * Error
 */
label {
  &.error {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: $label-color-error;
  }
}

/**
 * Placeholder Form
 */
form {
  @include placeholder(darken($input-placeholder-color, 30%));
}
