.lazy {
	max-width: 100%;
	height: auto;

	&bg {
		padding: 30px;
		min-height: 300px;
		background-image: url(../img/lazy/b.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&iframe {
	  width: 100%;
	  max-width: 800px;
	  min-height: 600px;
	  background-image: url(../img/lazy/b.png);
	  background-size: cover;
  }

	@include media-breakpoint-down(sm) {
		&iframe {
	    min-height: 270px;
	  }
	}
}

.sc-custom {
	overflow-y: auto;
	height: 400px;
}
