.modal {
	position: relative;
	top: 20px;
	left: 0;
	right: 0;
	width: 94%;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
  background: $color-white;
	border-radius: 2px;
	z-index: 100;
	transition: opacity .5s ease;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	.btn-close {
		position: absolute;
		top: 8.5px;
		right: 8px;
	}
}

body.fixed {
	overflow: hidden;
}

.m-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background-color: #000;
  background-color: rgba(0, 0, 0, .7);
  transition: opacity .5s ease 0s;
	overflow: auto;

  &.active {
    visibility: visible;
    opacity: 1;
	}
}
