$colors: map-get($theme, 'colors');
$color-white: map-get($theme, 'white');
$color-red: map-get($theme, 'red');

.nav {
	&__item {
		display: inline-block;
		width: auto;
		padding: 8px 16px;
		border: none;
		outline: none;

		&--active {
			color: $color-white;
			background-color: $color-red;
		}
	}

	&--button {
		border: none;
		display: inline-block;
		outline: 0;
		padding: 8px 16px;
		vertical-align: middle;
		overflow: hidden;
		text-decoration: none;
		color: inherit;
		background-color: inherit;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover {
			color: #000 !important;
			background-color: #ccc !important;
		}
	}

	&-vert {
		&__item {
			width: 100%;
			display: block;
			padding: 8px 16px;
			text-align: left;
			border: none;
			outline: none;
			white-space: normal;
			float: none;

			&--active {
				color: $color-white;
				background-color: $color-red;
			}
		}
	}
}
