$colors: map-get($theme, 'colors');
$color-white: map-get($theme, 'white');
$color-red: map-get($theme, 'red');
$color-primary: map-get($theme, 'primary');
$fontWeight: map-get($theme, 'fontWeight');

$bold: map-get($fontWeight, 'bold');
$regular: map-get($fontWeight, 'regular');

.nav {
	&__item {
		display: inline-block;
		width: auto;
		border: none;
		outline: none;
		font-weight: $regular;
		&--active {
			border-bottom: solid 4px $color-primary !important;
			font-weight: $bold;
		}
	}

	&--button {
		border: none;
		display: inline-block;
		outline: 0;
		vertical-align: middle;
		overflow: hidden;
		text-decoration: none;
		color: inherit;
		background-color: inherit;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover {
			border-bottom: solid 4px $color-primary;
		}
	}

	&-vert {
		&__item {
			width: 100%;
			display: block;
			padding: 8px 16px;
			text-align: left;
			border: none;
			outline: none;
			white-space: normal;
			float: none;

			&--active {
				color: $color-white;
				background-color: $color-red;
			}
		}
	}
}
