.bar {
	.bar-item {
		padding: 8px 16px;
		float: left;
		width: auto;
		border: none;
		outline: none;
		display: block;

		&.active{
			color:  $color-white;
			background-color: $color-red;
		}
	}

	.button {
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}

	.button {
		border: none;
		display: inline-block;
		outline: 0;
		padding: 8px 16px;
		vertical-align: middle;
		overflow: hidden;
		text-decoration: none;
		color: inherit;
		background-color: inherit;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;

		&:hover {
			color: #000!important;
			background-color: #ccc!important;
		}
	}

	&.-vert .bar-item {
		width: 100%;
		display: block;
		padding: 8px 16px;
		text-align: left;
		border: none;
		outline: none;
		white-space: normal;
		float: none;
	}
}
