.quickcart {
	display: none;
	position: absolute;
	background: #FFF;
	z-index: 1;

	&.active {
		display: block;
	}
}

.qc-btn {
	.qc-circle {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 23px;
		height: 23px;
		color: $color-white;
		background-color: $color-grey;
		border-radius: 50%;
		text-align: center;
		transition: all .5s ease;
	}
}
