//-
//- Tables
//-
.table,
.table-all {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	td,
	th {
		display: table-cell;
		padding: 8px;
		text-align: left;
		vertical-align: top;

		&:first-child,
		&:first-child {
			padding-left: 16px
		}
	}

	&.-hoverable {
		tbody {
			tr:hover {
				background-color: #CCC;
			}
		}
	}

	&.-striped {
		tbody {
			tr:nth-child(even) {
				background-color: #F1F1F1;
			}
		}
	}
}

.-bordered,
.table-all {
	tr {
		border-bottom: 1px solid #DDD;
	}
}

.table-all {
	border: 1px solid #CCC;

	tr {
		&:nth-child(odd) {
			background-color: #FFF;
		}

		&:nth-child(even) {
			background-color: #F1F1F1;
		}
	}
}
