.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;

  &__text {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;

		&--ani {
			opacity: 0;
			transition: opacity 1s;
		}

		&--left {
			top: -5px;
			right: 105%;

			&::after {
				content: " ";
				position: absolute;
				top: 50%;
				left: 100%; /* To the right of the tooltip */
				margin-top: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent transparent black;
			}
		}

		&--right {
			top: -5px;
			left: 105%;
			&::after{
				content: " ";
				position: absolute;
				top: 50%;
				right: 100%; /* To the left of the tooltip */
				margin-top: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent black transparent transparent;
			}
		}

		&--top {
			width: 120px;
			bottom: 100%;
			left: 50%;
			margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

			&::after{
				content: " ";
				position: absolute;
				top: 100%; /* At the bottom of the tooltip */
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: black transparent transparent transparent;
			}
		}

		&--bottom {
			width: 120px;
			top: 100%;
			left: 50%;
			margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

			&::after {
				content: " ";
				position: absolute;
				bottom: 100%;  /* At the top of the tooltip */
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent black transparent;
			}
		}
	}

	&:hover {
		.tooltip__text {
			visibility: visible;
		}
		.tooltip__text--ani {
			opacity: 1;
		}
	}
}
