// stylelint-disable declaration-no-important

$grid-breakpoints: map-get($theme, 'screens');
$aligns: map-get($theme, 'aligns');

@each $bp in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($bp) {
		$infix: breakpoint-infix($bp, $grid-breakpoints);

		@each $attr, $value in $aligns {
			.#{$infix}align-#{$attr} { vertical-align: $value !important; }
		}
	}
}
