
.o-hidden {
  overflow: hidden;
}
.o-scroll {
  overflow: scroll;
}
.o-auto {
  overflow: auto;
}
.o-yhidden {
  overflow-y: hidden;
}
.o-xhidden {
  overflow-y: hidden;
}
.o-yscrollauto {
  overflow-y: auto;
}
.o-xscrollauto {
  overflow-x: auto;
}