// stylelint-disable declaration-no-important

// Width and height

$grid-breakpoints: map-get($theme, 'screens');
$widths: map-get($theme, 'width');
$heights: map-get($theme, 'height');

@each $bp in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($bp) {
		$infix: breakpoint-infix($bp, $grid-breakpoints);

		@each $attr, $value in $widths {
			.#{$infix}w-#{$attr} {
				width: $value !important;
			}
		}

		@each $attr, $value in $heights {
			.#{$infix}h-#{$attr} {
				height: $value !important;
			}
		}
	}
}
