// stylelint-disable declaration-no-important

// Width and height

@each $bp in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($bp) {
		$infix: breakpoint-infix($bp, $grid-breakpoints);

		@each $prop, $abbrev in (width: w, height: h) {
			@each $size, $length in map-get($theme, 'width') { //$sizes
				.#{$abbrev}#{$infix}-#{$size} {
					#{$prop}: $length !important;
				}
			}
		}

		.mw#{$infix}-100 {
			max-width: 100% !important;
		}
		.mh#{$infix}-100 {
			max-height: 100% !important;
		}
	}
}
