/*
 * Titles
 */
h {
  &1, &2, &3, &4, &5, &6 {
    margin: 0;
    padding: 0;
  }

  &1 { font-size: $font-size-h1; }
  &2 { font-size: $font-size-h2; }
  &3 { font-size: $font-size-h3; }
  &4 { font-size: $font-size-h4; }
  &5 { font-size: $font-size-h5; }
  &6 { font-size: $font-size-h6; }
}

.text {
	font-size: $font-size-sm;
	line-height: 1.2;
	color: $color-black;
}

/*
 * Colors
 */

@each $color, $value in $colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

.text-muted { color: $text-color-muted !important; }

/*
 * Sizes
 */
.fz {
  &-xs  { font-size: $font-size-xs; }
  &-sm  { font-size: $font-size-sm; }
  &-md  { font-size: $font-size-md; }
  &-lg  { font-size: $font-size-lg; }
  &-xlg { font-size: $font-size-xlg; }
}

.lh {
  &-xs, &-1 { line-height: 1; }
  &-11 { line-height: 1.1; }
  &-sm, &-12 { line-height: 1.2; }
  &-13 { line-height: 1.3; }
  &-md, &-14 { line-height: 1.4; }
  &-15 { line-height: 1.5; }
  &-lg, &-16 { line-height: 1.6; }
  &-17 { line-height: 1.7; }
  &-xlg, &-18 { line-height: 1.8; }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $i in $font-sizes {
      .fz#{$infix}-#{$i} { font-size: #{$i}px !important; }
    }
  }
}

.fw-light  		{ font-weight: $font-weight-light !important; }
.fw-normal 		{ font-weight: $font-weight-normal !important; }
.fw-semibold 	{ font-weight: $font-weight-semibold !important; }
.fw-bold 			{ font-weight: $font-weight-bold !important; }
.font-italic 	{ font-style: italic !important; }

.text-dn { text-decoration: none !important; }
.text-du { text-decoration: underline !important; }

.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { @include text-truncate; }

// Alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: left !important; }
    .text#{$infix}-right  { text-align: right !important; }
    .text#{$infix}-center { text-align: center !important; }
  }
}

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.text-hide {
  @include text-hide();
}
