h2 Alerts

.alert.-success.mt-10
	a.btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Success Lorem ipsum dolor sit amet.

.alert.-warning.mt-10
	a.btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Warning Lorem ipsum dolor sit amet.

.alert.-danger.mt-10
	a.btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Danger Lorem ipsum dolor sit amet.

.alert.-info.mt-10
	a.btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Information Lorem ipsum dolor sit amet.


.alert.-success.card.mt-10
	a.btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	h5 Título
	.mt-10
		span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, tempore.

.alert.-danger.card-4.mt-10
	a.btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	h5 Título
	.mt-10
		span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, tempore.
