h2 Alerts

.alert.alert--success.mt-10
	a.alert__btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Success Lorem ipsum dolor sit amet.

.alert.alert--warning.mt-10
	a.alert__btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Warning Lorem ipsum dolor sit amet.

.alert.alert--danger.mt-10
	a.alert__btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Danger Lorem ipsum dolor sit amet.

.alert.alert--info.mt-10
	a.alert__btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	span Information Lorem ipsum dolor sit amet.


.alert.alert--success.card.mt-10
	a.alert__btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	h5.fz-18 Título
	.mt-10
		span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, tempore.

.alert.alert--danger.card-4.mt-10
	a.alert__btn-close(href="javascript:;" onclick="this.parentElement.style.display='none'") ×
	h5.fz-18 Título
	.mt-10
		span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, tempore.
