h2 Breadcrumb

ol.breadcrumb.mt-10
	li.breadcrumb__item Home

ol.breadcrumb.mt-10
	li.breadcrumb__item
		a(href="#") Home

	li.breadcrumb__item Página Actual

ol.breadcrumb.mt-10
	li.breadcrumb__item
		a(href="#") Home

	li.breadcrumb__item
		a(href="#") Opción

	li.breadcrumb__item Página Actual
