h2 Breadcrumb

ol.breadcrumb.mt-10
	li.item Home

ol.breadcrumb.mt-10
	li.item
		a(href="#") Home

	li.item Página Actual

ol.breadcrumb.mt-10
	li.item
		a(href="#") Home

	li.item
		a(href="#") Opción

	li.item Página Actual
