h2 Buttons
.mt-10.text-white
	button.btn.bg-default Defecto
	button.btn.bg-primary.ml-5 Primario
	button.btn.bg-secondary.ml-5 Secundario
	button.btn.bg-danger.ml-5 Danger
	button.btn.bg-black.ml-5 Negro
	button.btn.bg-black.ml-5(disabled) Deshabilitado

.mt-10.text-white
	button.btn.bg-black.btn--sm Pequeño
	button.btn.bg-black.ml-5 Defecto
	button.btn.bg-black.btn--md.ml-5 Medio
	button.btn.bg-black.btn--lg.ml-5 Grande
	button.btn.bg-black.btn--xlg.ml-5 Extra grande

.mt-30
	h2 Links
	.mt-10
		button.btn-link.text-default Defecto
		button.btn-link.text-primary.ml-10 Primario
		button.btn-link.text-secondary.ml-10 Secundario
		button.btn-link.ml-10(disabled) Deshabilitado
