h2 Buttons
p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
| Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
| when an unknown printer took a galley of type and scrambled it to make a type specimen book.
| It has survived not only five centuries, but also the leap into electronic typesetting,
| remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
| Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
.mt-10.text-white
	button.btn.bg-default Defecto
	button.btn.bg-primary.ml-5 Primario
	button.btn.bg-secondary.ml-5 Secundario
	button.btn.bg-danger.ml-5 Danger
	button.btn.bg-black.ml-5 Negro
	button.btn.bg-black.ml-5(disabled) Deshabilitado

.mt-10.text-white
	button.btn.bg-black.btn--sm Pequeño
	button.btn.bg-black.ml-5 Defecto
	button.btn.bg-black.btn--md.ml-5 Medio
	button.btn.bg-black.btn--lg.ml-5 Grande
	button.btn.bg-black.btn--xlg.ml-5 Extra grande

pre
	code(class="html")
		| &#60;div class="message-success success message"&#62;
		|  &#60;div&#62;
		|   Esto es codigo de prueba
		|  &#60;/div&#62;
		| &#60;/div&#62;
p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
| Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
| when an unknown printer took a galley of type and scrambled it to make a type specimen book.
| It has survived not only five centuries, but also the leap into electronic typesetting,
| remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
| Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

.mt-30
	h2 Links
	.mt-10
		button.btn-link.text-default Defecto
		button.btn-link.text-primary.ml-10 Primario
		button.btn-link.text-secondary.ml-10 Secundario
		button.btn-link.ml-10(disabled) Deshabilitado
