h2 Buttons
.mt-10.text-white
  button.btn.bg-black Negro
  button.btn.bg-red.ml-5 Rojo
  button.btn.bg-grey.ml-5 Gris
  button.btn.bg-orange.ml-5 Naranja
  button.btn.bg-blue.ml-5 Azul
  button.btn.bg-green.ml-5 Verde
  button.btn.bg-black.ml-5(disabled) Deshabilitado

.mt-10.text-white
  button.btn.bg-black.-sm Pequeño
  button.btn.bg-black.ml-5 Defecto
  button.btn.bg-black.-md.ml-5 Medio
  button.btn.bg-black.-lg.ml-5 Grande
  button.btn.bg-black.-xlg.ml-5 Extra grande

.mt-30
  h2 Links
  .mt-10
    button.btn-link Defecto
    button.btn-link.text-red.ml-10 Rojo
    button.btn-link.text-green.ml-10 Verde
    button.btn-link.ml-10(disabled) Deshabilitado
