h2 Cards

.mt-10
  .card(style="max-width:300px;")
    img(src=siteImg + "avatar.jpg" alt="Avatar" style="width:100%;height:auto;")
    .body.p-10
      p Este es una card.

.mt-20
  .card(style="max-width:300px;")
    header.bg-red.p-10
      h2 Título
    .body.p-10
      p Este es otra card.
    footer.bg-red.p-10
      span Footer

.mt-20
  .card-4.p-20(style="max-width:300px;")
    span Este es otra card.
