h2 Collapse

h5.mt-30 Normal

.collapse.mt-10
	.item
		h3.title(data-js="collapse" data-open="#cont-1") Collapse Seccción #1
		.content#cont-1
			p.fz-14 Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.

	.item
		h3.title(data-js="collapse" data-open="#cont-2") Collapse Seccción #2
		.content#cont-2
			p.fz-14 Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.

button.btn.bg-red.text-white.js-wc-open.mt-20 Abrir opción 2
button.btn.bg-red.text-white.js-wc-close.mt-20.ml-10 Cerrar opción 2
button.btn.bg-red.text-white.js-wc-toggle.mt-20.ml-10 Toggle opción 2

h5.mt-30 Accordeon

.collapse.mt-20
	.item
		h3.title(data-js="collapse-group" data-open="#group1-1" data-group="group1") Collapse Seccción #1
		.content#group1-1(group-cont="group1")
			p.fz-14 Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.

	.item
		h3.title(data-js="collapse-group" data-open="#group1-2" data-group="group1") Collapse Seccción #2
		.content#group1-2(group-cont="group1")
			p.fz-14 Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.

.collapse.mt-20
	.item
		h3.title(data-js="collapse-group" data-open="#group1-3" data-group="group1") Collapse Seccción #3
		.content#group1-3(group-cont="group1")
			p.fz-14 Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.

h5.mt-30 Abrir el Primero

.collapse.mt-20
	.item
		h3.title(data-js="collapse-group-first" data-open="#groupf-1" data-group="groupf") Collapse Seccción #1
		.content#groupf-1(group-cont="groupf")
			p.fz-14 Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.

	.item
		h3.title(data-js="collapse-group-first" data-open="#groupf-2" data-group="groupf") Collapse Seccción #2
		.content#groupf-2(group-cont="groupf")
			p.fz-14 Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.
