h2 Form

h5.mt-30 Input Text

.mt-10
	input.input(type='text' name='input1' placeholder='Digite')

	h6.mt-20 Tamaños
	.mt-10
		input.input.-xs(type='text' name='input2' placeholder='Pequeño')
		input.input.-sm.ml-10(type='text' placeholder='Mediano')
		input.input.-lg.ml-10(type='text' placeholder='Grande')

	h6.mt-20 Error
	.mt-10
		input.input.error(type='text' name='input5')

h5.mt-30 Select

.mt-20
	h6 Normal
	.mt-10
		select.select(name='select1')
			option(value="" disabled selected) Seleccionar
			option(value="Opción 1") Opción 1
			option(value="Opción 2") Opción 2
			option(value="Opción 3") Opción 3
			option(value="Opción 4") Opción 4

	h6.mt-20 Custom Arrow
	.row.mt-10
		.col-sm-4
			.select
				select(name='select2')
					option(value="" disabled selected) Seleccionar
					option(value="Opción 1") Opción 1
					option(value="Opción 2") Opción 2
					option(value="Opción 3") Opción 3
					option(value="Opción 4") Opción 4

	h6.mt-20 Custom Options
	.row.mt-10
		.col-sm-4
			select(name='select3' data-js="csel")
				option(value="" disabled selected) Seleccionar
				option(value="Opción 1") Opción 1
				option(value="Opción 2") Opción 2
				option(value="Opción 3") Opción 3
				option(value="Opción 4") Opción 4
				option(value="Opción 5") Opción 5
				option(value="Opción 6") Opción 6
				option(value="Opción 7") Opción 7
				option(value="Opción 8") Opción 8
				option(value="Opción 9") Opción 9

	h6.mt-20 Error
	.mt-10
		.d-inline-block.align-top
			select.select.error(name='select1')
				option(value="" disabled selected) Seleccionar
				option(value="Opción 1") Opción 1
				option(value="Opción 2") Opción 2
				option(value="Opción 3") Opción 3
				option(value="Opción 4") Opción 4

		.d-inline-block.align-top.ml-10(style="width:200px;")
			.select.error
				select(name='select2')
					option(value="" disabled selected) Seleccionar
					option(value="Opción 1") Opción 1
					option(value="Opción 2") Opción 2
					option(value="Opción 3") Opción 3
					option(value="Opción 4") Opción 4

		.d-inline-block.align-top.ml-10
			select.error(name='select3' data-js="csel")
				option(value="" disabled selected) Seleccionar
				option(value="Opción 1") Opción 1
				option(value="Opción 2") Opción 2
				option(value="Opción 3") Opción 3
				option(value="Opción 4") Opción 4
				option(value="Opción 5") Opción 5
				option(value="Opción 6") Opción 6
				option(value="Opción 7") Opción 7
				option(value="Opción 8") Opción 8
				option(value="Opción 9") Opción 9

h5.mt-30 Input Checkbox

.mt-10
	.d-inline-block
		input.checkbox#cb1(type='checkbox' name='cb1')
		label(for='cb1')

	.d-inline-block.ml-10
		input.checkbox#cb2(type='checkbox' name='cb1')
		label(for='cb2') Checkbox 2

	.d-inline-block.ml-10
		input.checkbox#cb3(type='checkbox' name='cb1')
		label(for='cb3') Checkbox 3

h6.mt-20 Error
	.mt-10
		input.checkbox.error#cbe1(type='checkbox' name='cbe1')
		label(for='cbe1')

h5.mt-30 Input Radio

.mt-10
	.d-inline-block
		input.radio#rad1(type='radio' name='rad1' checked)
		label(for='rad1')

	.d-inline-block.ml-10
		input.radio#rad2(type='radio' name='rad1')
		label(for='rad2') Radio 2

	.d-inline-block.ml-10
		input.radio#rad3(type='radio' name='rad1')
		label(for='rad3') Radio 3

h6.mt-20 Error
	.mt-10
		input.radio.error#rade3(type='radio' name='rade1')
		label(for='rade3') Radio 3

h5.mt-30 Validación

.mt-10
	form(name='form1' method='POST' frm-valid)
		.row
			fieldset.col-sm-4
				label.fz-14(for='name') Nombre:
				.mt-5
					input.input.d-block(type='text' name='name' id='name' placeholder='Pepito Perez' data-rule-required='true' data-msg-required='Digite Nombre.' data-rule-cname='true' data-msg-cname='Digite Nombre válido.')

			fieldset.col-sm-4
				label.fz-14 Rut:
				.mt-5
					input.input.d-block(type='text' name='document' placeholder='11.111.111-1' data-rule-required='true' data-msg-required='Digite Rut.' data-rule-rut='true' data-msg-rut='Digite Rut válido.')

		.row.mt-30
			fieldset.col-sm-4
				label.fz-14(for='userName') Nombre de usuario:
				.mt-5
					input.input.d-block(type='text' name='userName' id='userName' placeholder='PepitoPerez' data-rule-required='true' data-msg-required='Digite Nombre de usuario.' data-rule-nick='true' data-msg-nick='Digite Nombre de usuario válido.')

			fieldset.col.-sm-4
				label.fz-14(for='email') Email:
				.mt-5
					input.input.d-block(type='text' name='email' id='email' placeholder='PepitoPerez' data-rule-required='true' data-msg-required='Digite Email.' data-rule-email='true' data-msg-email='Digite Email válido.')

		.row.mt-30
			fieldset.col-sm-4
				label.fz-14(for='password') Clave:
				.mt-5
					input.input.d-block(type='password' name='password' id='password' data-rule-required='true' data-msg-required='Digite Clave.' data-rule-minlength='6' data-msg-minlength='La Clave debe contener al menos {0} caracteres.' data-rule-maxlength='15' data-msg-maxlength='La Clave debe contener máximo {0} caracteres.')

			fieldset.col-sm-4
				label.fz-14(for='repass') Repetir Clave:
				.mt-5
					input.input.d-block(type='password' name='repass' id='repass' data-rule-required='true' data-msg-required='Digite Clave.' data-rule-minlength='6' data-msg-minlength='La Clave debe contener al menos {0} caracteres.' data-rule-maxlength='15' data-msg-maxlength='La Clave debe contener máximo {0} caracteres.' data-rule-equalto='#password' data-msg-equalto='Las Claves no coinciden.')

		.row.mt-30
			fieldset.col-sm-4
				label.fz-14(for='sel1') Selección 1
				.select.mt-5
					select(name='sel1' id='sel1' data-rule-required='true' data-msg-required='Seleccione Selección 1.')
						option(value="" disabled selected) Seleccionar
						option(value="Opción 1") Opción 1
						option(value="Opción 2") Opción 2
						option(value="Opción 3") Opción 3
						option(value="Opción 4") Opción 4

			fieldset.col-sm-4
				label.fz-14(for='sel2') Selección 2
				.mt-5
					select(name='sel2' id='sel2' data-js="csel" data-rule-required='true' data-msg-required='Seleccione Selección 2.')
						option(value="" disabled selected) Seleccionar
						option(value="Opción 1") Opción 1
						option(value="Opción 2") Opción 2
						option(value="Opción 3") Opción 3
						option(value="Opción 4") Opción 4
						option(value="Opción 5") Opción 5
						option(value="Opción 6") Opción 6
						option(value="Opción 7") Opción 7
						option(value="Opción 8") Opción 8
						option(value="Opción 9") Opción 9

		.row.mt-30
			fieldset.col-sm-4
				label.fz-14 Opción
				.mt-10(control-group)
					.d-inline-block
						input.radio#opt1(type='radio' name='opt' data-rule-required='true' data-msg-required='Seleccione Opción.')
						label(for='opt1') Primera

					.d-inline-block.ml-10
						input.radio#opt2(type='radio' name='opt')
						label(for='opt2') Segundo

					.d-inline-block.ml-10
						input.radio#opt3(type='radio' name='opt')
						label(for='opt3') Tercero

			fieldset.col-sm-4
				label.fz-14 Opciónes
				.mt-10(control-group)
					.d-inline-block
						input.checkbox#opts1(type='checkbox' name='opts' data-rule-required='true' data-msg-required='Seleccione Opciónes.')
						label(for='opts1') Primera

					.d-inline-block.ml-10
						input.checkbox#opts2(type='checkbox' name='opts')
						label(for='opts2') Segundo

					.d-inline-block.ml-10
						input.checkbox#opts3(type='checkbox' name='opts')
						label(for='opts3') Tercero

		fieldset.mt-30
			button.btn.bg-red.text-white(type='submit') Validar
