h2 Grid

.row.mt-10.text-white
	.col-2.text-center.bg-default.p-10: span.fz-md .col-2
	.col-2.text-center.bg-primary.p-10: span.fz-md .col-2
	.col-2.text-center.bg-default.p-10: span.fz-md .col-2
	.col-2.text-center.bg-primary.p-10: span.fz-md .col-2
	.col-2.text-center.bg-default.p-10: span.fz-md .col-2
	.col-2.text-center.bg-primary.p-10: span.fz-md .col-2

.row.mt-20.text-white
	div.text-center.bg-default.p-10(class="sm:col-3"): span.fz-md .sm:col-3
	.text-center.bg-primary.p-10(class="sm:col-3"): span.fz-md .sm:col-3
	.text-center.bg-default.p-10(class="sm:col-3"): span.fz-md .sm:col-3
	.text-center.bg-primary.p-10(class="sm:col-3"): span.fz-md .sm:col-3

.row.mt-20.text-white
	.text-center.bg-default.p-10(class="md:col-4"): span.fz-md .md:col-4
	.text-center.bg-primary.p-10(class="md:col-4"): span.fz-md .md:col-4
	.text-center.bg-default.p-10(class="md:col-4"): span.fz-md .md:col-4

.row.mt-20.text-white
	.text-center.bg-default.p-10(class="lg:col-6"): span.fz-md .lg:col-6
	.text-center.bg-primary.p-10(class="lg:col-6"): span.fz-md .lg:col-6

.row.p-10.mt-20.text-white
	.text-center(class="sm:col-3"): span.fz-md.p-10.d-block.bg-default .sm:col-3
	.text-center(class="sm:col-3"): span.fz-md.p-10.d-block.bg-primary .sm:col-3
	.text-center(class="sm:col-3"): span.fz-md.p-10.d-block.bg-default .sm:col-3
	.text-center(class="sm:col-3"): span.fz-md.p-10.d-block.bg-primary .sm:col-3

.row.mt-20.text-white
	.col-8.offset-2.text-center.bg-default.p-10: span.fz-md .col-8

.row.mt-20.text-white
	.col-7.mx-auto.text-center.bg-default.p-10: span.fz-md .col-7

.row.mt-20.text-white
	.text-center.bg-default.p-10(class="md:col-5 md:offset-1"): span.fz-md .md:col-5
	.text-center.bg-default.p-10(class="md:col-5 md:offset-1"): span.fz-md .col-md-5

.row.mt-20.text-white
	.col-auto.text-center.bg-default.p-10(style="width:300px;"): span.fz-md .col-auto width 300px
	.col.text-center.bg-primary.p-10: span.fz-md .col

.row.mt-20.text-white
	.col-auto.text-center.bg-default.p-10(style="width:200px;"): span.fz-md col-auto width 200px
	.col.text-center.bg-primary.p-10: span.fz-md .col
	.col-auto.text-center.bg-default.p-10(style="width:200px;"): span.fz-md col-auto width 200px

.row.mt-20.text-white
	.col-auto.text-center.bg-default.p-10(style="width:20%;"): span.fz-md .col-auto width 20%
	.col.text-center.bg-primary.p-10: span.fz-md .col
	.col-auto.text-center.bg-default.p-10(style="width:30%;"): span.fz-md .col-auto width 30%

.ctr
	.row.mt-20.text-white
		.col.text-center.bg-primary.p-10: span.fz-md .col
		.col-auto.text-center.bg-default.p-10(style="width:300px;"): span.fz-md .col-auto width 300px
