h2 Navigation

h5.mt-10 Basic Navigation
.bar.bg-black.text-white.mt-10
	a(href="#").bar-item.button.active Home
	a(href="#").bar-item.button Link 1
	a(href="#").bar-item.button Link 2
	a(href="#").bar-item.button Link 3

h5.mt-10 Vertical Navigation Bar
.bar.-vert.bg-black.text-white.mt-10
	a(href="#").bar-item.button.active Home
	a(href="#").bar-item.button Link 1
	a(href="#").bar-item.button Link 2
	a(href="#").bar-item.button Link 3

h5.mt-10 Fixed Navigation Bar
