h2 Pagination

h5.mt-10 Paginaci칩n Basica
.bar.mt-10
  a.button(href="#") &laquo;
  a.button.-red(href="#") 1
  a.button(href="#") 2
  a.button(href="#") 3
  a.button(href="#") 4
  a.button(href="#") 5
  a.button(href="#") &raquo;

h5.mt-30 Paginaci칩n Tama침os
.bar.fz-xs.mt-10
  a.button(href="#") &laquo;
  a.button.-red(href="#") 1
  a.button(href="#") 2
  a.button(href="#") 3
  a.button(href="#") 4
  a.button(href="#") 5
  a.button(href="#") &raquo;

.bar.fz-md.mt-10
  a.button(href="#") &laquo;
  a.button.-red(href="#") 1
  a.button(href="#") 2
  a.button(href="#") 3
  a.button(href="#") 4
  a.button(href="#") 5
  a.button(href="#") &raquo;

.bar.fz-xlg.mt-10
  a.button(href="#") &laquo;
  a.button.-red(href="#") 1
  a.button(href="#") 2
  a.button(href="#") 3
  a.button(href="#") 4
  a.button(href="#") 5
  a.button(href="#") &raquo;

h5.mt-30 Paginaci칩n Border
.bar.bd.mt-10
  a.button(href="#") &laquo;
  a.button.-red(href="#") 1
  a.button(href="#") 2
  a.button(href="#") 3
  a.button(href="#") 4
  a.button(href="#") 5
  a.button(href="#") &raquo;

.bar.bd.d-inline-block.mt-10
  a.button(href="#") &laquo;
  a.button.-red(href="#") 1
  a.button(href="#") 2
  a.button(href="#") 3
  a.button(href="#") 4
  a.button(href="#") 5
  a.button(href="#") &raquo;

.align-center
  .bar.bd.d-inline-block.mt-10
    a.button(href="#") &laquo;
    a.button.-red(href="#") 1
    a.button(href="#") 2
    a.button(href="#") 3
    a.button(href="#") 4
    a.button(href="#") 5
    a.button(href="#") &raquo;

.bar.bd.mt-10
  a.button(href="#") &#10094; Anterior
  a.button.float-right(href="#") Proximo &#10095;

.bar.bd.mt-10
  a.button.bd-right(href="#") &#10094;
  a.button.float-right.bd-left(href="#") &#10095;
