h2 Pagination

h5.mt-10 Paginaci칩n Basica
.nav.mt-10
  a.nav--button(href="#") &laquo;
  a.nav--button.bg-default(href="#") 1
  a.nav--button(href="#") 2
  a.nav--button(href="#") 3
  a.nav--button(href="#") 4
  a.nav--button(href="#") 5
  a.nav--button(href="#") &raquo;

h5.mt-30 Paginaci칩n Tama침os
.nav.fz-12.mt-10
  a.nav--button(href="#") &laquo;
  a.nav--button.bg-default(href="#") 1
  a.nav--button(href="#") 2
  a.nav--button(href="#") 3
  a.nav--button(href="#") 4
  a.nav--button(href="#") 5
  a.nav--button(href="#") &raquo;

.nav.fz-15.mt-10
  a.nav--button(href="#") &laquo;
  a.nav--button.bg-default(href="#") 1
  a.nav--button(href="#") 2
  a.nav--button(href="#") 3
  a.nav--button(href="#") 4
  a.nav--button(href="#") 5
  a.nav--button(href="#") &raquo;

.nav.fz-18.mt-10
  a.nav--button(href="#") &laquo;
  a.nav--button.bg-default(href="#") 1
  a.nav--button(href="#") 2
  a.nav--button(href="#") 3
  a.nav--button(href="#") 4
  a.nav--button(href="#") 5
  a.nav--button(href="#") &raquo;

h5.mt-30 Paginaci칩n Border
.nav.bd.mt-10
  a.nav--button(href="#") &laquo;
  a.nav--button.bg-default(href="#") 1
  a.nav--button(href="#") 2
  a.nav--button(href="#") 3
  a.nav--button(href="#") 4
  a.nav--button(href="#") 5
  a.nav--button(href="#") &raquo;

.nav.bd.d-inline-block.mt-10
  a.nav--button(href="#") &laquo;
  a.nav--button.bg-default(href="#") 1
  a.nav--button(href="#") 2
  a.nav--button(href="#") 3
  a.nav--button(href="#") 4
  a.nav--button(href="#") 5
  a.nav--button(href="#") &raquo;

.text-center
  .nav.bd.d-inline-block.mt-10
    a.nav--button(href="#") &laquo;
    a.nav--button.bg-default(href="#") 1
    a.nav--button(href="#") 2
    a.nav--button(href="#") 3
    a.nav--button(href="#") 4
    a.nav--button(href="#") 5
    a.nav--button(href="#") &raquo;

.nav.bd.mt-10
  a.nav--button(href="#") &#10094; Anterior
  a.nav--button.float-right(href="#") Proximo &#10095;

.nav.bd.mt-10
  a.nav--button.bd-right(href="#") &#10094;
  a.nav--button.float-right.bd-left(href="#") &#10095;
