h2 Progress Bar

.bg-muted.mt-10
	.bg-default.text-center.p-5(style="width:25%") 25%

.bg-muted.mt-10
	.bg-black.text-white.text-center.p-10(style="width:45%") 45%

.bg-muted.mt-10
	.bg-default(style="height:24px;width:50%")

.bg-muted.mt-10
	.bg-danger.text-center.text-white.p-15(style="width:70%") 70%

.bg-muted.mt-10
	.bg-black.text-white.text-center.p-10(style="width:95%") 95%
