h2 Responsive

h5.mt-10 Mobile

.buttons.mt-10.text-white
	button.btn.bg-grey.w-100.w-sm-auto Button 1
	button.btn.bg-grey.w-100.w-sm-auto Button 2
	button.btn.bg-grey.w-100.w-sm-auto Button 3

h5.mt-20 Hide

.buttons.mt-10.text-white
	button.btn.bg-grey.d-none Hide all
	button.btn.bg-grey.d-none.d-sm-inline-block Hide xs
	button.btn.bg-grey.d-sm-none.d-md-inline-block Hide sm
	button.btn.bg-grey.d-md-none.d-lg-inline-block Hide md
	button.btn.bg-grey.d-lg-none.d-xl-inline-block Hide lg
	button.btn.bg-grey.d-xl-none Hide xl

h5.mt-20 Show

.buttons.mt-10.text-white
	button.btn.bg-grey.d-block Show all
	button.btn.bg-grey.d-block.d-sm-none Show xs
	button.btn.bg-grey.d-none.d-sm-block.d-md-none Show sm
	button.btn.bg-grey.d-none.d-md-block.d-lg-none Show md
	button.btn.bg-grey.d-none.d-lg-block.d-xl-none Show lg
	button.btn.bg-grey.d-none.d-xl-block Show xl

h5.mt-20 Show inline block

.buttons.mt-10.text-white
	button.btn.bg-grey.d-inline-block Show all
	button.btn.bg-grey.d-inline-block Show all

	button.btn.bg-grey.d-inline-block.d-sm-none Show xs
	button.btn.bg-grey.d-inline-block.d-sm-none Show xs

	button.btn.bg-grey.d-none.d-sm-inline-block.d-md-none Show sm
	button.btn.bg-grey.d-none.d-sm-inline-block.d-md-none Show sm

	button.btn.bg-grey.d-none.d-md-inline-block.d-lg-none Show md
	button.btn.bg-grey.d-none.d-md-inline-block.d-lg-none Show md

	button.btn.bg-grey.d-none.d-lg-inline-block.d-xl-none Show lg
	button.btn.bg-grey.d-none.d-lg-inline-block.d-xl-none Show lg

	button.btn.bg-grey.d-none.d-xl-inline-block Show xl
	button.btn.bg-grey.d-none.d-xl-inline-block Show xl
