h2 Responsive

h5.mt-10 Mobile

.buttons.mt-10.text-white
	button.btn.bg-primary.w-2(class="sm:w-auto") Button 1
	button.btn.bg-primary.w-2(class="sm:w-auto") Button 2
	button.btn.bg-primary.w-2(class="sm:w-auto") Button 3

h5.mt-20 Hide

.buttons.mt-10.text-white
	button.btn.bg-primary.d-none Hide all
	button.btn.bg-primary.d-none(class="sm:d-inline-block") Hide xs
	button.btn.bg-primary(class="sm:d-none md:d-inline-block") Hide sm
	button.btn.bg-primary(class="md:d-none lg:d-inline-block") Hide md
	button.btn.bg-primary(class="lg:d-none xl:d-inline-block") Hide lg
	button.btn.bg-primary(class="xl:d-none") Hide xl

h5.mt-20 Show

.buttons.mt-10.text-white
	button.btn.bg-primary.d-block Show all
	button.btn.bg-primary.d-block(class="sm:d-none") Show xs
	button.btn.bg-primary.d-none(class="sm:d-block md:d-none") Show sm
	button.btn.bg-primary.d-none(class="md:d-block lg:d-none") Show md
	button.btn.bg-primary.d-none(class="lg:d-block xl:d-none") Show lg
	button.btn.bg-primary.d-none(class="xl:d-block") Show xl

h5.mt-20 Show inline block

.buttons.mt-10.text-white
	button.btn.bg-primary.d-inline-block Show all
	button.btn.bg-primary.d-inline-block(class="sm:d-none") Show xs
	button.btn.bg-primary.d-none(class="sm:d-inline-block md:d-none") Show sm
	button.btn.bg-primary.d-none(class="md:d-inline-block lg:d-none") Show md
	button.btn.bg-primary.d-none(class="lg:d-inline-block xl:d-none") Show lg
	button.btn.bg-primary.d-none(class="xl:d-inline-block") Show xl
