h2 Tables

h5.mt-10 Simple
table.table
	thead
		tr
			th Nombre
			th Apellido
			th Edad

	tbody
		tr
			td Bruno
			td Diaz
			td 35

		tr
			td Clark
			td Ken
			td 25

h5.mt-30 Completa
.mt-10
	table.table-all
		thead
			tr
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25

h5.mt-30 Header con color
.mt-10
	table.table-all
		thead
			tr.bg-default
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25

h5.mt-30 Completa tipo card
.mt-10
	table.table-all.card-4
		thead
			tr
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25

h5.mt-30 Bordes
.mt-10
	table.table.table--bordered
		thead
			tr
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25

h5.mt-30 Bordes striped
.mt-10
	table.table.table--bordered.table--striped
		thead
			tr
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25

h5.mt-30 Hover
.mt-10
	table.table-all.table--hoverable
		thead
			tr
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25

h5.mt-30 Font Size Small
.mt-10
	table.table-all.card.fz-12
		thead
			tr
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25

h5.mt-30 Font Size Large
.mt-10
	table.table-all.card.fz-16
		thead
			tr
				th Nombre
				th Apellido
				th Edad

		tbody
			tr
				td Bruno
				td Diaz
				td 35

			tr
				td Clark
				td Ken
				td 25
