h2 Tooltips
p Move the mouse over the text below:

h5.mt-10 Tooltips Default
.tooltip Hover over me
	span.tooltip__text Tooltip text

h5.mt-10 Tooltips Left
.tooltip Hover over me
	span.tooltip__text.tooltip__text--left Tooltip text

h5.mt-10 Tooltips Right
.tooltip Hover over me
	span.tooltip__text.tooltip__text--right Tooltip text

h5.mt-10 Tooltips Top
.tooltip Hover over me
	span.tooltip__text.tooltip__text--top Tooltip text

h5.mt-10 Tooltips Bottom
.tooltip Hover over me
	span.tooltip__text.tooltip__text--bottom Tooltip text

h5.mt-10 Fade In Tooltips (Animation)
.tooltip Hover over me
	span.tooltip__text.tooltip__text--ani Tooltip text
