.nav-vert.text-white.fz-14.pt-15.pb-15
    a(href="../download_install.html").nav-vert__item.nav--button Descarga e instalación
    a(href="../guia.html").nav-vert__item.nav--button Guía para codificacación Frontend
    a(href="../guia.html").nav-vert__item.nav--button Guía creación de componentes Frontend
    a(href="../demo.html").nav-vert__item.nav--button Demo Ecommerce
    a(href="../#buttons" data-js="sctop").nav-vert__item.nav--button Buttons
    a(href="../#buttons" data-js="sctop").nav-vert__item.nav--button Links
    a(href="../#panels" data-js="sctop").nav-vert__item.nav--button Panels
    a(href="../#cards" data-js="sctop").nav-vert__item.nav--button Cards
    a(href="../#grids" data-js="sctop").nav-vert__item.nav--button Grid
    a(href="../#responsive" data-js="sctop").nav-vert__item.nav--button Responsive
    a(href="../#alerts" data-js="sctop").nav-vert__item.nav--button Alerts
    a(href="../#tabs" data-js="sctop").nav-vert__item.nav--button Tabs
    a(href="../#progress-bar" data-js="sctop").nav-vert__item.nav--button Progress Bar
    a(href="../#tables" data-js="sctop").nav-vert__item.nav--button Tables
    a(href="../#tooltips" data-js="sctop").nav-vert__item.nav--button Tooltips
    a(href="../#navigation" data-js="sctop").nav-vert__item.nav--button Navigation
    a(href="../#pagination" data-js="sctop").nav-vert__item.nav--button Pagination
    a(href="../#breadcrumb" data-js="sctop").nav-vert__item.nav--button Breadcrumb
    a(href="../#collapse" data-js="sctop").nav-vert__item.nav--button Collapse
    a(href="../#dropdown" data-js="sctop").nav-vert__item.nav--button Dropdown
    a(href="../#modal" data-js="sctop").nav-vert__item.nav--button Modal
    a(href="../#form" data-js="sctop").nav-vert__item.nav--button Form
    a(href="../lazyload.html").nav-vert__item.nav--button LazyLoad
