//-
	* Nombre proyecto:
	* Fecha inicio:
	* Email desarrollador:
	* Descripción:
	* Dependencias:
	* Dónde se utiliza/requiere:

extends ./inc/_layout

block variables
	- var title = 'Demo | ' + siteTitle
	- var bodyPage = 'demo'

block wBody
	main#home.home
		.container
			.clear.mt-30
				.qc-btn(data-js="qcBtn")
					script(data-js="qcBtnTmpl" type="text/template").
						<div class="btn position-relative text-black text-right" data-js="qcToggle" data-open="[data-js=quickcart]">
							<span class="align-middle">$ {{total}}</span> <i class="icon-cart text-red fz-28 align-middle"></i> <span class="qc-circle" data-js="qcCircle">{{quantity}}</span>
						</div>

				.card.quickcart.w-25(data-js="quickcart")
					script(data-js="qcTmpl" type="text/template").
						<div class="px-10 py-10 bd-bottom">
							<b>{{quantity}}</b> Producto(s)
							<div class="mt-10">Total: <b>$ {{total}}</b></div>
						</div>
						div
							| {{#products}}
							.item.px-10.py-10.bd-bottom
								p.text.fz-15.fw-bold {{brand}}
								h2.fz-15.fw-normal {{name}}
								span.fz-14.d-block Precio: $ {{priceFormat}}
								span.fz-14 Cantidad: {{quantity}}
								.mt-10
									button.btn.bg-red.text-white(data-js="qcProdDel" data-id="{{id}}") Remover
							| {{/products}}

			.row.align-items-stretch.mt-40(data-js="products")
				script(data-js="productsTmpl" type="text/template").
					{{#products}}
						.col-3.mb-20
							.card.h-100(data-js="product")
								img(src="{{image}}" alt="{{name}}" class="img-resp")
								.d-flex.flex-column.p-10(style="height:180px;")
									p.text.fz-15.fw-bold {{brand}}
									h2.fz-15.fw-normal {{name}}
									span.fz-14 $ {{priceFormat}}
									.select.mt-5.w-25
										select(data-js="prodQuant") {{selectQuantity}}
											//- - for (var i = 1; i <= 99; ++i)
											//- 	option(value=i)=i
									.mt-auto
										button.btn.bg-red.-md.w-50.text-white(data-js="prodAdd" data-id="{{id}}") Agregar
					| {{/products}}

block wScriptsLibs
	script(src='js/mustache.min.js')

block wScripts
	script(src='js/demo.js')
