//-
	* Nombre proyecto:
	* Fecha inicio:
	* Email desarrollador:
	* Descripción:
	* Dependencias:
	* Dónde se utiliza/requiere:

extends ./inc/_layout

block variables
	- var title = 'Home | ' + siteTitle

block wBody
	main#home.home
		.container-fluid
			.row
				.col-mnv.position-fixed.bg-gray-800(class="md:col-2")
					//- Menú Navegación
					.nav.nav--vert.bg-gray-900a.text-white.fz-14.pt-15.pb-15
						a(href="demo.html").nav__item.nav--button Demo Ecommerce
						a(href="#buttons" data-js="sctop").nav__item.nav--button Buttons
						a(href="#buttons" data-js="sctop").nav__item.nav--button Links
						a(href="#panels" data-js="sctop").nav__item.nav--button Panels
						a(href="#cards" data-js="sctop").nav__item.nav--button Cards
						a(href="#grids" data-js="sctop").nav__item.nav--button Grid
						a(href="#responsive" data-js="sctop").nav__item.nav--button Responsive
						a(href="#alerts" data-js="sctop").nav__item.nav--button Alerts
						a(href="#tabs" data-js="sctop").nav__item.nav--button Tabs
						a(href="#progress-bar" data-js="sctop").nav__item.nav--button Progress Bar
						a(href="#tables" data-js="sctop").nav__item.nav--button Tables
						a(href="#tooltips" data-js="sctop").nav__item.nav--button Tooltips
						a(href="#navigation" data-js="sctop").nav__item.nav--button Navigation
						a(href="#pagination" data-js="sctop").nav__item.nav--button Pagination
						a(href="#breadcrumb" data-js="sctop").nav__item.nav--button Breadcrumb
						a(href="#collapse" data-js="sctop").nav__item.nav--button Collapse
						a(href="#dropdown" data-js="sctop").nav__item.nav--button Dropdown
						a(href="#modal" data-js="sctop").nav__item.nav--button Modal
						a(href="#form" data-js="sctop").nav__item.nav--button Form
						a(href="lazyload.html").nav__item.nav--button LazyLoad

				.p-20(class="md:col-10 md:offset-2")
					h1 Componentes basicos

					//- Botones
					section#buttons.mt-50.pb-30.bd-bottom
						include ./components/_buttons

					//- Paneles
					section#panels.mt-50.pb-30.bd-bottom
						include ./components/_panels

					//- Cards
					section#cards.mt-50.pb-30.bd-bottom
						include ./components/_cards

					//- Grillas
					section#grids.mt-50.pb-30.bd-bottom
						include ./components/_grids

					//- Responsive
					section#responsive.mt-50.pb-30.bd-bottom
						include ./components/_responsive

					//- Alertas
					section#alerts.mt-50.pb-30.bd-bottom
						include ./components/_alerts

					//- Tabs
					section#tabs.mt-50.pb-30.bd-bottom
						include ./components/_tabs

					//- Barra de progreso
					section#progress-bar.mt-50.pb-30.bd-bottom
						include ./components/_progress-bar

					//- Tablas
					section#tables.mt-50.-mb30.bd-bottom
						include ./components/_tables

					//- Tooltips
					section#tooltips.mt-50.pb-30.bd-bottom
						include ./components/_tooltips

					//- Navegación
					section#navigation.mt-50.pb-30.bd-bottom
						include ./components/_navigation

					//- Paginación
					section#pagination.mt-50.pb-30.bd-bottom
						include ./components/_pagination

					//- Camino de migas
					section#breadcrumb.mt-50.pb-30.bd-bottom
						include ./components/_breadcrumb

					//- Collapse
					section#collapse.mt-50.pb-30.bd-bottom
						include ./components/_collapse

					//- Dropdown
					section#dropdown.mt-50.pb-30.bd-bottom
						include ./components/_dropdown

					//- Modals
					section#modal.mt-50.pb-30.bd-bottom
						include ./components/_modal

					//- Formulario
					section#form.mt-50.pb-30.bd-bottom
						include ./components/_forms

block wScripts
	//-script(src='js/i2b-tabs.js')
	//-script(src='js/i2b-collapse.js')
	//-script(src='js/i2b-dropdown.js')
	//-script(src='js/i2b-modal.js')
	//-script(src='js/i2b-select.js')
	//-script(src='js/i2b-form.js')
	//-script(src='js/i2b-scroll.js')
