//-
	* Nombre proyecto:
	* Fecha inicio:
	* Email desarrollador:
	* Descripción:
	* Dependencias:
	* Dónde se utiliza/requiere:

extends ./inc/_layout

block wStyles	

block variables
	- var title = 'Home | ' + siteTitle

block wBody
	main#home.home
		.container-fluid
			.row
				.p-20(class="col-12")
					h1 Bienvenido al repositorio de componentes Front-end I2B
					
					section.mt-50.pb-30 Para conocer más sobre la utilización de esto componentes ingrese a la documentación 
						a(href="https://i2btech-components.netlify.app/" target="_blank") haciendo clic aquí.
						

block wScripts	