$xs: 0;
$sm: 375px;
$md: 768px;
$lg: 1024px;
$xl: 1272px;

$defaultColor: #D71F26;
$primaryColor: #767676;
$secondaryColor: #4CAF50;
$white: #FFFFFF;
$black: #000;

$dangerColor: #721c24;
$success: green;

$gray100: #f6f8fa;
$gray800: #464646;
$gray900: #222;

$light: 300;
$bold: 700;
$medium: 500;
$regular: 400;
$normal: normal;

$theme: (
	screens: (
		xs: $xs,
		sm: $sm,
		md: $md,
		lg: $lg,
		xl: $xl,
	),
	gutter: (
		width: 20px
	),
	columns: 12,
	colors: (
		default: $defaultColor,
		primary: $primaryColor,
		secondary: $secondaryColor,
		danger: $dangerColor,
		black: $black,
		white: $white,
		transparent: transparent,
		muted: #AAA,
		gray-100: $gray100,
		gray-800: $gray800,
		gray-900: $gray900,
		red-400: lighten(#D71F26, 20%)
	),
	fontSizes: (
		default: 14px,
		0: 0,
		11: 11px,
		12: 12px,
		14: 14px,
		15: 15px,
		16: 16px,
		18: 18px,
		20: 20px,
		22: 22px,
		24: 24px,
		26: 26px,
		28: 28px,
		30: 30px
	),
	fontWeight: (
		light: 200,
		default: 500,
		semibold: 600,
		bold: 700,
		extrabold: 800
	),
	lineHeights: (
		default: 1.2,
		1: 1.1,
		3: 1.3,
		4: 1.4
	),
	width: (
		auto: auto,
		full: 100%,
		screen: 100vw,
		1: 20%,
		2: 40%,
		3: 60%,
		4: 80%,
	),
	height: (
		auto: auto,
		full: 100%,
		screen: 100vh,
		50: 50px
	),
	maxWidth: (
		none: none,
		0: 0,
		200: 200px,
		228: 228px,
		270: 270px,
		284: 284px,
		388: 388px,
		544: 544px,
	),
	maxHeight: (
		none: none,
		0: 0,
		212: 212px,
		422:422px,
	),
	minWidth: (
		0: 0,
	),
	minHeight: (
		0: 0,
	),
	margin: (
		auto: auto,
		0: 0,
		5: 5px,
		10: 10px,
		15: 15px,
		20: 20px,
		30: 30px,
		50: 50px
	),
	padding: (
		0: 0,
		5: 5px,
		10: 10px,
		15: 15px,
		20: 20px,
		30: 30px
	),
	zIndex: (
		default: 99,
		auto: auto,
		0: 0,
		10: 10,
		20: 20,
		30: 30,
		40: 40,
		50: 50,
	),
	maxLines: (
		h2-2l: (
			font-size: 28px,
			line-height: 38,
			height: 1.5,
			numMaxLines: 2,
		),
	),
	flex: (
		1: 1,
		2: 2,
		3: 3,
		4: 4,
		5: 5,
		6: 6,
		7: 7,
		8: 8,
	),
	displays: (
		none: none,
		inline: inline,
		inline-block: inline-block,
		block: block,
		table: table,
		table-row: table-row,
		table-cell: table-cell,
		flex: flex,
		inline-flex: inline-flex
	),
	positions: (
		static: static,
		relative: relative,
		absolute: absolute,
		fixed: fixed,
		sticky: sticky
	),
	right: (
		-30:-30px,
		-11:-11px,
		0: 0,
		5:5px,
	),
	left: (
		-255: -255px,
		-210:-210px,
		0: 0,
	),
	top: (
		-38:-38px,
		-11:-11px,
		0: 0,
		12: 12px,
		16: 16px,
		38: 38px,
		40: 40px,
	),
	bottom: (
		0: 0,
	),
	floats: (
		none: none,
		left: left,
		right: right
	),
	aligns: (
		baseline: baseline,
		top: top,
		middle: middle,
		bottom: bottom,
		text-bottom: text-bottom,
		text-top: text-top
	),
	borders: (
		0: 0,
		1: 1px,
		2: 2px,
		3: 3px,
		4: 4px,
		5: 5px
	),
	borderRadius: (
		0:0,
		10:10px,
		11:11px,
	),
	borderStyles: (
		solid : solid,
		dashed: dashed
	),
	h:(
		h1: (
			font-size: 50px,
			font-weight: $bold,
			line-height: 68px,
		),
		h2: (
			font-size: 40px,
			font-weight: $bold,
			line-height: 68px,
		),
		h4: (
			font-size: 16px,
			font-weight: $regular,
			line-height: 16px,
		),
		h5: (
			font-size: 18px,
			font-weight: $bold,
			line-height: 18px,
		),
	),
	body: (
		font-size: 14px,
		font-weight: $normal,
		line-height: 24px,
		font-family: "'Roboto', sans-serif",
	),
	otherText: (
		bajada: (
			font-size: 22px,
			font-weight: $regular,
			line-height: 34px
		),
		list: (
			font-size: 14px,
			font-weight: $regular,
			line-height: 28px
		),
		caption: (
			font-size: 12px,
			font-weight: $regular,
			line-height: 18px
		),
		alt: (
			font-size: 10px,
			font-weight: $medium,
			line-height: 18px,
			letter-spacing: 0.2em,
			text-transform: uppercase,
		),
		tiny: (
			font-size: 13px,
			font-weight: $regular,
			line-height: 20px
		),
		body2:(
			font-style: $normal,
			font-weight: $normal,
			font-size: 18px,
			line-height: 32px !important,
		),
		link:(
			font-style: normal,
			font-weight: 500,
			font-size: 14px,
			line-height: 24px !important,
			text-decoration: underline,
		)
	),
	animation: (
		transitions: (
			transition-br: border-bottom 0.2s linear,
			transition-bgc: background-color 0.5s ease-in-out,
		),
		slide: (
			position: right,
			delay: 0.5s,
			width: 350px,
		),
		shadow: (
			1: 0px 7px 9px -3px rgba(0, 0, 0, 0.160784),
			2: 0px 0px 22px rgba(0, 0, 0, 0.25),
			3: 0px 4px 12px rgba(0, 0, 0, 0.25),
			4: 0px 0px 32px rgba(0, 0, 0, 0.12),
		),
		opacity: (
			pto1:.1,
			pto5:.2
		)
	)
);

$grid-breakpoints: map-get($theme, 'screens');

// Components
$components: (
	alert: (
		font-size: 13px,
		success: (
			background: #D4EDDA,
			color: #155724,
		),
		danger: (
			background: #F8D7DA,
			color: #721C24,
		),
		warning: (
			background: #FFF3CD,
			color: #856404,
		),
		info: (
			background: #D1ECF1,
			color: #0C5460,
		)
	),
	form: (
		label: (
			color-danger: $dangerColor,
		),
		input: (
			color: #999,
			color-danger: #D71F26,
			border-color: #555,
			border-color-danger: #D71F26,
			input-background: #FFF,
			placeholder-color: #FFF
		),
		radio: (
			background: lighten(#D71F26, 20%)
		),
		checkbox: (
			background: lighten(#D71F26, 20%)
		),
		select: (
			background: #FFF,
			border-color: #555,
			arrow-color: #444,
			border-color-error: #D71F26,
			option-background: #FFF,
			option-hover-background: lighten(#D71F26, 20%),
			option-hover-color: #FFF,
		)
	),
	link: (
		link-color: #D71F26,
		hover-color: #D71F26,
		active-color: #D71F26,
		visited-color: #D71F26,
		text-decoration: underline
	),
	buttons: (
		primary: (
			background: $primaryColor,
			color: $white,
			color-hover: $white,
			border-color: $primaryColor,
			cursor:pointer,
			border-radius: 4px,
			box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04),
			font-style: normal,
			font-weight: 500,
			font-size: 14px,
			text-align:center,
			line-height: 20px,
			border: 0px,
		),
		secundary:(
			border-radius:10px,
			border: 2px solid #FFFFFF,
			text-tranform:uppercase,
			color: $white,
		)
	)
)
