$theme: (
	screens: (
		xs: 0,
		sm: 640px,
		md: 768px,
		lg: 1024px,
		xl: 1280px,
	),
	gutter: (
		width: 20px
	),
	columns: 12,
  colors: (
		default: #FF9800,
    primary: #2196F3,
		secondary: #4CAF50,
		danger: #721c24,
		black: #000,
		white: #FFF,
		transparent: transparent,
		muted: #AAA,

		gray-800: #464646,
		gray-900: #222,
		red-400: lighten(#D71F26, 20%)
  ),
	fontSizes: (
		default: 14px,
		11: 11px,
    15: 15px,
    16: 16px,
    18: 18px
	),
	fontWeight: (
		light: 200,
		default: 500,
		semibold: 600,
		bold: 700,
		extrabold: 800
	),
	lineHeights: (
		default: 1.2,
		1: 1.1,
		3: 1.3,
		4: 1.4
	),
	width: (
		auto: auto,
		full: 100%,
		screen: 100vw,
		1: 20%,
		2: 40%,
		3: 60%,
		4: 80%,
	),
	height: (
		auto: auto,
		full: 100%,
		screen: 100vh,
		50: 50px
	),
	margin: (
		auto: auto,
		0: 0,
		5: 5px,
    10: 10px,
    15: 15px,
		20: 20px,
		30: 30px,
		50: 50px
	),
	padding: (
		0: 0,
		5: 5px,
    10: 10px,
    15: 15px,
		20: 20px,
		30: 30px
	),
	zIndex: (
		default: 99,
		auto: auto,
		0: 0,
		10: 10,
		20: 20,
		30: 30,
		40: 40,
		50: 50,
	),
	displays: (
		none: none,
		inline: inline,
		inline-block: inline-block,
		block: block,
		table: table,
		table-row: table-row,
		table-cell: table-cell,
		flex: flex,
		inline-flex: inline-flex
	),
	positions: (
		static: static,
		relative: relative,
		absolute: absolute,
		fixed: fixed,
		sticky: sticky
	),
	floats: (
		none: none,
		left: left,
		right: right
	),
	aligns: (
		baseline: baseline,
		top: top,
		middle: middle,
		bottom: bottom,
		text-bottom: text-bottom,
		text-top: text-top
	),
	borders: (
		0: 0,
		1: 1px,
		2: 2px,
		3: 3px,
		4: 4px,
		5: 5px
	)
);
