//@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

// ===========
// Proyecto:
// Fecha Inicio:
// Email Desarrollador:
// ===========

//- Vars
@import "config";

//- Mixins
@import "mixins/custom";
@import "mixins/breakpoints";
@import "mixins/hover";
@import "mixins/background-variant";
@import "mixins/text-emphasis";
@import "mixins/text-truncate";
@import "mixins/text-hide";
@import "mixins/grid-framework-flex"; //Grid FlexBox
@import "mixins/grid";

//- Components
@import "components/buttons";
@import "components/navigation";
@import "components/panels";
@import "components/cards";
@import "components/alerts";
@import "components/tabs";
@import "components/tables";
@import "components/tooltips";
@import "components/breadcrumb";
@import "components/collapse";
@import "components/dropdown";
@import "components/modal";
@import "components/forms";
@import "components/link";

//- Utilities
@import "utilities/normalize";
@import "utilities/grid-flex"; //Grid FlexBox

@import "utilities/align";
@import "utilities/background";
@import "utilities/borders";
@import "utilities/clear";
@import "utilities/display";
@import "utilities/flex";
@import "utilities/float";
@import "utilities/images";
@import "utilities/position";
@import "utilities/sizing";
@import "utilities/spacing";
@import "utilities/texts";
//@import "utilities/code";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Lato', Arial;
  line-height: 1.2;
}

#content {
	padding-top: 62px;
}

.col-mnv {
  top: 58px;
	bottom: 0;
	overflow-y: auto;
}
